# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.PracticaBlackjack.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\ProyectosGTI\Segundo\SegundoCuatri\ProyectosMates\Blackjack\PracticaBlackjack\.idea\.idea.PracticaBlackjack\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
